body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: crosshair
}

#start-screen {
    background: url('assets/background.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100% - 40px); /* Subtract footer height */
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Nimmt den verbleibenden Platz ein */
    justify-content: center;
    align-items: center;
}

#gameover-screen {
    background: url('assets/gameover.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100% - 40px); /* Subtract footer height */
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Nimmt den verbleibenden Platz ein */
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px ;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.settings {
    display: flex; 
    align-items: center;
}

button {
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #847f7f;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #323030;
}

footer {
    background-color: #323030;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#mute-sound-effects {
    padding: 10px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

#mute-sound-effects:hover {
    color: #aa1818;
}

#music-switcher{
    padding: 10px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

#music-switcher:hover{
    color: #aa1818;
}

#volume-slider {
    width: 100px; /* Adjust width to your preference */
    height: 10px; /* Adjust height to your preference */
    cursor: pointer;
    transition: background 0.15s ease-in-out;
    writing-mode: bt-lr;
    direction: ltr;
}
